<div class="card bg-light-blue">
  <h3 class="close-icon" ng-click="removeList(models.lists, listName)"><i class="fas fa-times-circle"></i></h3>
  <h5 class="card-header card-title">{{listName}} <i ng-click="toggleNewListItemMode(list)" class="fas fa-plus-circle"></i> </h5>
  <!-- The dnd-list directive allows to drop elements into it.
  The dropped data will be added to the referenced list -->
  <ul dnd-list="list.listItems" class="list-group">
      <!-- The dnd-draggable directive makes an element draggable and will
          transfer the object that was assigned to it. If an element was
          dragged away, you have to remove it from the original list
          yourself using the dnd-moved attribute -->
        <li
            class="list-group-item card"
            ng-repeat="item in list.listItems"
            dnd-draggable="item"
            dnd-moved="list.listItems.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="models.selected = item"
            ng-class="{'selected': models.selected === item}"
            >
            {{item.label}}
        </li>
        <li class="list-group-item add-new-list-item" ng-show="list.newListItemMode">
          <form class="new-list-form" ng-submit="addNewListItem(list, list.newListItemTitle)">
            <input ng-model="list.newListItemTitle" type="text" class="form-control new-list-title-input" placeholder="Enter card title" />
            <div class="btn-group col-lg-12" role="group">
              <button ng-click="addNewListItem(list, list.newListItemTitle)" type="button" class="col-lg-6 btn btn-success new-list-title-submit">Add</button>
              <button ng-click="toggleNewListItemMode(list)" type="button" class="col-lg-6 btn btn-danger new-list-title-submit">Cancel</button>
            </div>
          </form>
        </li>
  </ul>
</div>