<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your Awesome Board</title>

  <link rel="stylesheet" href="./libs//bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./libs/font-awesome/css/all.min.css" />
  <link rel="stylesheet" href="./styles/reset.css" />
  <link rel="stylesheet" type="text/css" href="./styles/index.css" />
  <link rel="shortcut icon" type="image/png" href="./images/favicon.png"/>

  <script src="./libs/angular.js"></script>
  <script src="./libs/angular-drag-and-drop-lists.min.js"></script>
  <script src="./js/index.js"></script>
</head>
<body ng-app="app">
  <div class="app-body container-flex" ng-controller="SimpleDemoController">
    <div ng-include="'./partials/navbar.html'"></div>

    <div class="container-flex list-display-body">
      <div class="simpleDemo row col-md-12">
        <div ng-repeat="(listName, list) in models.lists" class="col-md-2 single-list">
          <div ng-include="'./partials/card.html'"></div>
        </div>

        <div class="col-md-2 single-list">
          <div class="card bg-light-blue">
            <h6 ng-click="toggleNewListMode()" class="add-new-list card-header card-title" ng-hide="newListMode"><a href="#"> + Add a list</a></h6>
            <form ng-submit="addNewList(models.lists, newListTitle)" class="card-header new-list-form" ng-show="newListMode">
              <input type="text" ng-model="newListTitle" class="form-control new-list-title-input" placeholder="Enter list title..." />
              <div class="btn-group col-lg-12" role="group">
                <button type="button" ng-click="addNewList(models.lists, newListTitle)" class="col-lg-6 btn btn-success new-list-title-submit">Add</button>
                <button type="button" ng-click="toggleNewListMode()" class="col-lg-6 btn btn-danger new-list-title-cancel">Cancel</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</body>
</html>